<% provide(:title, @business.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @business %>
        <%= @business.name %>
        <%= @business.address %>
      </h1>
    </section>
  </aside>
</div>
