<% provide(:title, 'About') %>
<h1>About</h1>
<div class="well is-padded">
	<p>
	  The <%= link_to "GETFULL", map_path, :id => "getfull_link" %>
	web app was made by following, completing, and modifying the 
	<a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>.  This app also uses <a href="https://www.heroku.com/">Heroku</a> to deploy and host the web app, <a href="https://github.com/apneadiving/Google-Maps-for-Rails"> Google Maps for Rails </a> to access the Google Maps API, <a href="https://github.com/alexreisner/geocoder"> Geocoder</a> to geocode restaurant addresses, <a href="https://github.com/stympy/faker">Faker</a> to populate a fake database, <a href="https://github.com/thoughtbot/paperclip">Paperclip</a> to manage image uploads, <a href"https://github.com/mislav/will_paginate">will_paginate</a> to paginate long lists, and <a "http://getbootstrap.com/2.3.2/">Twitter Bootstrap</a> for front end development.  
	</p>
	<p>
	All code can be found in Derrick Wolbert's final project <a href="https://github.com/wolberine/final_project">Github respository</a>.
	</p> 
</div>