<%= link_to gravatar_for(current_business, size: 52), current_business %>
<h1>
  <%= current_business.name %>
</h1>
<span>
  <%= link_to "view my profile", current_business %>
</span>
<span>
  <%= pluralize(current_business.menu_items.count, "menu item") %>
</span>