
<div class="well is-padded" id="business_feed_item">
<li id="<%= business_feed_item.id %>">  
  <%= gravatar_for business_feed_item, size: 52 %>
  <%= link_to business_feed_item.name, business_feed_item %>
  <br>
  <%= business_feed_item.address %>
</li>
</div>