<p id="mobile_business_name"><%= @mobile_business_name %></p>
<div id="mobile_menu_container">
<%= render partial: 'shared/mobile_menu_item', collection: @mobile_menu_items %>
</div>
<button type="button" class="button_in" id="button_in"><</button>
