
<div class="menu_scroll" id="mobile_menu_container">
	<%= render partial: 'shared/mobile_menu_item', collection: @mobile_menu_items %>
	<div id="new_mobile_business_name"></div>
	<div id="new_mobile_menu_container"></div>
</div>

