<p class="mobile_business_name">Restaurants</p>
<div class="menu_scroll">
    <%= render partial: 'shared/mobile_business_feed_item', collection: @businesses %>
</div>
<div class="button_container">
    <a class="btn btn-info button2_in" id="button2_in">Map<i class=icon-arrow-right></i> </a>
</div>