
$navbarBackground: white;

@import "bootstrap";


/* navbar css */
.navbar-inner { background: $navbarBackground; }
.navbar .nav > li > a {
    color: gray;
    float: none;
    padding: 10px 15px;
    text-decoration: none;
    text-shadow: 0 0px 0 #ffffff;
}

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

#mobile {
  padding-top: 0px;
  top:0;
  right:0;
  bottom:0;
  left:0;
}

body {
  padding-top: 60px;
}



section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #037e8c;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: #f41c54;
    text-decoration: none;
  }
}

#image_logo{
  width: 25%;
  height:25%;
}

#getfull_link {
  color: #037e8c;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: #f41c54;
    text-decoration: none;
  }
}



/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/* Businesses index */

.businesses {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/* menu_items */

.menu_items {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.name {
  display: block;
  font-weight: bold;
}
.description {
  display: block;
}
.price {
  display: block;
}
.timestamp {
  color: $grayLight;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

/* map  */

.map-menu-wrapper { height: 400px; overflow: auto; }

li
{
    list-style-type: none;
}

#gmap_container {
  width: 100%;
  height: 500px;
}

#map {
  height: 400px;
}

#business_feed_item{
  background-color: rgba(255,255,255,0);
  border: none;
}

#menu_feed_item{
  background-color: rgba(255,255,255,0);
  border: none;
}

#map-feed-form-over-map{
  z-index: 100;
  position: absolute;
  margin: 30px 0px 0px 20px;
  background-color: rgba(255,255,255,0.8);
  border: none;
  padding: 5px;
  height: 430px;
  width: 300px;
  overflow: auto;
  direction:ltr;
  border-radius:5px;
}

/* mobile */



#mobile-map {
 width: 100%; 
 height: 100%;
}

#mobile-gmap_container {
  max-width: 100%;
  max-height: 1000px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

}

#mobile-map-feed-form-over-map{
  width: 300px;
  z-index: 100;
  position: fixed;
  top: 0;
  bottom: 0;
  right: -300px;
  background-color: rgba(255,255,255,0.8);
  border: none;
  padding: 5px;
  overflow: auto;
  direction:ltr;
  border-radius:5px;
  -webkit-transition: all .1s
  ease-in-out;
  -moz-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out
}

#mobile-menu{
  z-index: 100;
  position: absolute;
  bottom: 0px;
  right: -360px;
  background-color: rgba(255,255,255,0.8);
  border: none;
  padding: 5px;
  height: 100%;
  width: 340px;
  overflow: auto;
  direction:ltr;
  border-radius:5px;
}

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
}

.button{
  z-index: 100;
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #111;
  border: 3px solid #F24C27;
  background: #fff;
}

.menu{
  z-index: 100;
  /*overflow: auto;*/
  width: 300px;
  padding: 0px;
  position: fixed;
  top: 0;
  bottom: 0;
  right: -300px;
  background-color: rgba(255,255,255, 1);
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}
.menu2{
  z-index: 100;
  /*overflow: auto;*/
  width: 300px;
  padding: 0px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: -300px;
  background-color: rgba(255,255,255,1);
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}
.menu_scroll{
  position: relative;
  height: 90%;
  width: 100%;
  overflow: auto;
  /*overflow: scroll;*/
  -webkit-overflow-scrolling: touch; 
}
.button_container{
  height: 10%;
  position:fixed;
  bottom:0;
  display: block;
}
.button2{
  z-index: 100;
  position: fixed;
  bottom: 20px;
  left: 20px;
  color: #111;
  border: 3px solid #037E8C;
  outline: none;
  background: #fff;
}

.button2_in{
  position: fixed;
  bottom: 0px;
  outline: none;
  width: 300px;
}


.button_in{
  position: fixed;
  bottom: 0px;
  outline: none;
  width:300px;
}
  /*.menu:hover, .button:focus ~ .menu{right: 0}*/
  /* Works fine(if not better) with .button:hover too, or use .button:focus to make it act like a toggle(with .button:focus it also works fine on mobile devices.)*

  * Thanks to /u/secuso on /r/web_design for the .button:focus idea */
/*.menu:hover, .button:focus ~ .menu{right: 0}*/
/*.button:focus ~ .menu{right: 0}
.menu2:hover, .button2:focus ~ .menu2{left: 0}
.button2-in:focus ~ .menu2{left: -300px;}*/
/*.button2:focus ~ .menu2{left: 0}*/

.mobile_business_name{
  text-align: center;
  font-size: 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Sans-serif;
  background: #F2EFDC;
}

.restaurant-well{
  min-height: 20px;
  padding: 19px;
  margin-bottom: 0px;
  background-color: #FFFFFC;
  border: 1px solid rgb(227, 227, 227);
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset;
}

/* mobile upload form */

#menu_item_photo button {
    background-color: #ccc;
    border: none;
    color: #666;
    padding: 3px 5px;
    border-radius: 5px;
    position: relative;
    top: 0;
    z-index: 1;
}


.file_upload_wrapper{
  padding: 0px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: -300px;
}

.btn-xlarge {
    padding: 18px 28px;
    font-size: 22px; //change this to your desired size
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

.top-buffer { margin-top:20px; }
.side-buffers { 
  margin-right:10px; 
  margin-left:10px;
}

.mobile_menu_wrapper{
  z-index: 100;
  width: 100%;
  height: 400px;
  padding: 0px;
  position: fixed;
  //top: 0;
  //bottom: 0;
  bottom: -400px;
  //background-color: rgba(255,255,255,1);
  background-color: #f41c54;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.mobile_menu_button {
  z-index: 100;
  position: fixed;
  bottom: 20px;
  left: 20px;
  color: #111;
  border: 3px solid #037E8C;
  outline: none;
  background: #fff;
}

.snap_button_wrapper {
  margin-top: 200px;
  margin-left: 50px;
  margin-right: 50px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}