
$navbarBackground: white;

@import "bootstrap";


/* navbar css */
.navbar-inner { background: $navbarBackground; }
.navbar .nav > li > a {
    color: gray;
    float: none;
    padding: 10px 15px;
    text-decoration: none;
    text-shadow: 0 0px 0 #ffffff;
}

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

#mobile {
  padding-top: 0px;
}

body {
  padding-top: 60px;
}



section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #037e8c;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: #f41c54;
    text-decoration: none;
  }
}

#image_logo{
  width: 25%;
  height:25%;
}

#getfull_link {
  color: #037e8c;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: #f41c54;
    text-decoration: none;
  }
}



/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/* Businesses index */

.businesses {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/* menu_items */

.menu_items {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.name {
  display: block;
  font-weight: bold;
}
.description {
  display: block;
}
.price {
  display: block;
}
.timestamp {
  color: $grayLight;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

/* map  */

.map-menu-wrapper { height: 400px; overflow: auto; }

li
{
    list-style-type: none;
}

#gmap_container {
  width: 100%;
  height: 500px;
}

#map {
  height: 400px;
}

#business_feed_item{
  background-color: rgba(255,255,255,0);
  border: none;
}

#menu_feed_item{
  background-color: rgba(255,255,255,0);
  border: none;
}

#map-feed-form-over-map{
  z-index: 100;
  position: absolute;
  margin: 30px 0px 0px 20px;
  background-color: rgba(255,255,255,0.8);
  border: none;
  padding: 5px;
  height: 430px;
  width: 300px;
  overflow: auto;
  direction:ltr;
  border-radius:5px;
}

/* mobile */

#mobile-gmap_container {
  width: 100%;
  height: 352px;
}

#mobile-map-feed-form-over-map{
  z-index: 100;
  position: absolute;

  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: -300px;

  background-color: rgba(255,255,255,0.8);
  border: none;
  padding: 5px;
  height: 352px;
  width: 300px;
  overflow: auto;
  direction:ltr;
  border-radius:5px;
}

#trigger {                          
/* create a clickable area that triggers the slide in/out effect */
    position: absolute;             
    /* position clickable area to consume entire right section of popout (add a border if you want to see for yourself) */  
    top: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;   
    z-index: 100;
}